<!--The content below is only a placeholder and can be replaced.-->
<noscript>
  <h2 style="color: #ff0000">
    Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled.
    Please enable Javascript and reload this page!
  </h2>
</noscript>

<div id="main-content" class="container-fluid">
  <app-header></app-header>
  <app-creation-time></app-creation-time>
  <app-stretching-value></app-stretching-value>
  <app-info></app-info>
  <app-connectors></app-connectors>
  <app-title></app-title>
  <app-search-by-name-recipe></app-search-by-name-recipe>
  <app-search-by-datetime-range (onChangeOutputStart)="start = $event" (onChangeOutputEnd)="end = $event"></app-search-by-datetime-range>
  <app-buttons-for-generate-chart [onChangeInputStart]="start" [onChangeInputEnd]="end"></app-buttons-for-generate-chart>
  <app-name-of-chart></app-name-of-chart>
  <app-navigation-of-chart></app-navigation-of-chart>
  <app-recipe-block></app-recipe-block>



  <div class="row highlight-bocks">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <canvas id="baseChart" width="500" height="320" #baseChart baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
