<!--The content below is only a placeholder and can be replaced.-->
<noscript>
  <h2 style="color: #ff0000">
    Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled.
    Please enable Javascript and reload this page!
  </h2>
</noscript>
<div id="main-content" class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-success" type="submit" id="connect">Connect</button>
          <button (click)="disconnect()" class="btn btn-warning" type="submit">Disconnect
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">What is your name?</label>
          <input type="text" [(ngModel)]="name" class="form-control" name="name" id="name"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-success" type="submit">Send</button>
      </form>
    </div>

    <p> {{greeting}}</p>
    <p> {{currentDateTime}}</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <thead>
        <tr>
          <th>Greetings</th>
        </tr>
        </thead>
        <tbody id="greetings">
        <ng-container *ngFor="let message of arrayMessages; let i = index">
          <tr>
            <td>{{message}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2">
      <h4 class="modal-title" id="myModalLabel" style="margin-top: 40px; text-align: center">
        Отчет сформирован:  <i id="datePart">{{currentDateTime}}</i>
      </h4>
    </div>
  </div>

  <table class="table">
    <tr>
      <th><span style="color: black; font-family: sans-serif; font-size: 24px;">Реальное значение температуры</span></th>
      <th><span id="realTrmValue" style="color: red; font-family: sans-serif; font-size: 24px;"> </span> град.</th>
    </tr>
    <tr>
      <th><span style="color: black; font-family: sans-serif; font-size: 24px;">Реальное значение температуры2</span></th>
      <th><span id="realTrmValue2" style="color: red; font-family: sans-serif; font-size: 24px;"> </span> град.</th>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Информация</th>
    </tr>
    <tr>
      <td>
        инфо
      </td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>График</th>
    </tr>
    <tr>
      <td>
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="startMark">Начало</span>
            <input [(ngModel)]="startChart" type="datetime-local" class="form-control" aria-describedby="startMark" id="startChart" name="startChart" value="2017-12-19T07:30">
          </div>
      </td>
      <td>
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="endMark">Конец</span>
            <input [(ngModel)]="endChart" type="datetime-local" class="form-control" aria-describedby="endMark" id="endChart" name="endChart" value="2017-12-19T18:00">
        </div>
      </td>
      <td>
            <input type="button" id="generateChart" name="generateChart" (click)="sendChartBody()" class="btn btn-sm btn-success" value="Сгенерировать">
            <a href="/" id="back" class="btn btn-sm btn-success" (click)="disconnect()" value="Сохранить график"> Назад</a>
            <input type="button" id="saveChart" name="saveChart" (click)="saveChart()" class="btn btn-sm btn-success" value="Сохранить график">
      </td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Тред</th>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="bufferChartMark">Буфер графика</span>
          <input [(ngModel)]="bufferChart" type="number" width="5" style="width: 100px;" class="form-control" aria-describedby="bufferChartMark" id="bufferChart" name="bufferChart" value="10000">
        </div>
      </td>
      <td>
        <a id="increase-chart" class="btn btn-sm btn-danger" (click)="increaseChart()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
          </svg>
        </a>
        <a id="decrease-chart" class="btn btn-sm btn-danger" (click)="decreaseChart()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
            <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
        <input type="number" id="zoom-chart" name="zoom-chart" width="5" class="btn btn-sm btn-default" value="10">
        <a id="left-chart" class="btn btn-sm btn-danger" (click)="leftChart()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
        </a>
        <a id="right-chart" class="btn btn-sm btn-danger" (click)="rightChart()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </a>
      </td>
      <td>
        <h6 style="font-weight: bold;">Старт/Стоп</h6>
        <label class="switch">
          <input type="checkbox" id="id_switch_tred">
          <span class="slider round"></span>
        </label>
        <input type="button" id="removeChart" name="removeChart" (click)="clearChart()" class="btn btn-sm btn-success" value="Стереть">
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <canvas id="myChart" width="500" height="320" baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
