<div class="row highlight-bocks">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="bufferChartMark">Буфер графіку</span>
      </div>
      <input [(ngModel)]="bufferChart" (change)="checkBufferValue()" type="number" width="5" style="width: 100px;" class="form-control" aria-describedby="bufferChartMark" id="bufferChart" name="bufferChart" value="10000">
    </div>
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <a id="increase-chart" class="btn btn-sm btn-danger" (click)="increaseChart()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
        <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
      </svg>
    </a>
    <a id="decrease-chart" class="btn btn-sm btn-danger" (click)="decreaseChart()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
        <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </a>
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="zoom-chart-value">Масштаб</span>
      </div>
      <input [(ngModel)]="zoomChart" (change)="checkZoomValue()" type="number" width="5" class="form-control" aria-describedby="zoom-chart-value" id="zoom-chart" name="zoom-chart" value="10">
    </div>
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <a id="left-chart" class="btn btn-sm btn-danger" (click)="leftChart()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </a>
    <a id="right-chart" class="btn btn-sm btn-danger" (click)="rightChart()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </a>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    <h6 style="font-weight: bold;">Старт/Стоп</h6>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    <label class="switch">
      <input type="checkbox" #checkboxOnRealTimeRender [checked]="onDraw" (change)="checkTheRenderStatus()" id="id_switch_tred">
      <span class="slider round"></span>
    </label>
  </div>
</div>
