<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="#">Kyivguma LCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--        <li class="nav-item active">-->
      <!--          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--        </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEnableDisableItemWeight" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Врах. тару
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownEnableDisableItemWeight">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister3}}">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="sendWriteEnableDisableWeightOfItem(0)">0-не враховувати</a>
          <a class="dropdown-item" href="#" (click)="sendWriteEnableDisableWeightOfItem(1)">1-враховувати</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSensitivity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Чутл. сенсору
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSensitivity">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister4}}">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(0)">0- 1мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(1)">1- 2мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(2)">2- 4мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(3)">3- 8мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(4)">4- 16мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(5)">5- 32мВ/В</a>
          <a class="dropdown-item" href="#" (click)="sendWriteSensitivitySensor(6)">6- 64мВ/В</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMinValue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Мін. знач.
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMinValue">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister5}}">
          <div class="dropdown-divider"></div>
          <input type="text" class="dropdown-item" [(ngModel)]="this.sensorMinValue" (keyup)="sendWriteMinBorderValueForSensor()">
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaxValue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Макс. знач.
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMaxValue">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister6}}">
          <div class="dropdown-divider"></div>
          <input type="text" class="dropdown-item" [(ngModel)]="this.sensorMaxValue" (keyup)="sendWriteMaxBorderValueForSensor()">
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetWethgt" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Вага тари
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSetWethgt">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister7}}">
          <div class="dropdown-divider"></div>
          <input type="text" class="dropdown-item" [(ngModel)]="this.sensorSetWeight" (keyup)="sendWriteSetWeightItem()">

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAutoCalibrate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Тарувати
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAutoCalibrate">
          <input type="text" class="dropdown-item disabled" value="{{device.holdingRegister1}}">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="sendWriteWeightOfItemAsAZero(0)">0-тарувати</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 disabled" value="{{device.holdingRegister0}}" type="text" style="max-width: 85px">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#ModalSaveToMemory">Застосувати</button>
      <!-- Modal -->
      <div class="modal fade" id="ModalSaveToMemory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Зберегти в посійну пямять</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Увага кількість записів в постійну пямять, обмежено ресурсом пямяті.
              Частий запис може вивести з ладу контроллер.
              Впевнені що хочете продовжити ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              <button type="button" class="btn btn-primary" (click)="sendWriteSaveAllChanges(0)">Зберегти в память</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
