/*-----------------------------------------------------highlight the item into block*/
.highlight-bocks {
  background:rgba(245, 245, 245, 0.7);
  /*width:300px;*/
  /*height:200px;*/
  /*box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);*/
  /*border-style: groove;*/
  /*border-width: 1px;*/
  /*border-radius:20px;*/
  transition:0.3s;
  padding: 5px;
}

.highlight-bocks:hover {
  transition:0.3s;
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2),-8px -8px 16px 0 rgba(0,0,0,0.2);
}
/*-----------------------------------------------------highlight the item into block*/
